/*Global*/
html {
  width: 100%;
  font-size: 18px;
}

body {
  font-family: 'Assistant', sans-serif;
  line-height: 1.2em;
}

.post-category {
  display: block;
}
.post-category a {
  color: grey;
  text-transform: uppercase;
  text-decoration: none;
}
h1 {
  color: orange;
  font-size: 5rem;
  font-weight: bold;
}

h2 {
  font-size: 2em;
  line-height: 1.5em;
  padding: 0.3em 0;
}

h3 {
  font-size: 1.7rem;
  margin-top: 2rem;
}

a {
  text-decoration: none;
  font-family: 'Assistant', sans-serif;
  line-height: 1.2em;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/*Header*/
.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: orange;
  width: 130px;
  height: 70px;
  z-index: 20;
}
.logo img {
  width: 130px;
}

.banner {
  display: flex;
  flex-direction: column;
  background-image: url(../img/IMG_2590.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 500px;
}
.banner.small {
  min-height: 300px;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;;
  padding-right: 10%;
  border-bottom: 1px solid white;
  max-width: 100%;
}
nav {
  display: flex;
}
nav ul span {
    margin: 0 2em;
    color: white;
    font-size: 0.8rem;
    text-transform: uppercase;
  }

.banner-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 350px;
  padding: 1rem 0;
}
.banner-box-content {
  background-color: white;
  width: 50%;
  padding: 2rem;
}

.name {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 1rem;
}
.name p {
  color: grey;
  text-transform: uppercase;
}


/*Main Content*/
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  padding-top: 2em;
}

.post-archive {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
}
.post-entry {
  width: 30%;
  margin: 1.5rem 1rem;
}

.highlight {
  display: flex;
  align-items: center;
  padding: 0 10%;
  min-height: 200px;
  background-color: grey;
}
.highlight-text {
  margin: 0 1.5rem;
  color: white;
  width: 70%;
}
.highlight .button {
  width: 30%;
  text-align: center;
}
.highlight .btn {
  border: 1px solid white;
  padding: 1rem;
  color: #fff;
}
.highlight .btn:hover {
  border: 1px solid black;
  color: #000;
}

/*Footer*/
footer {
  background-color: #000;
  padding: 1rem 1.5rem;
}
footer p {
  color: #fff;
  font-size: 0.9rem;
}
.widget-area {
  display: flex;
  padding: 1rem 0;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
}
.widget-1 {
  max-width: 48%;
}
.widget-2 {
  max-width: 24%;
}
.widget-3 {
  max-width: 24%;
}
.widget-2 .social-links {
  width: 100%;
}
.social-links a {
  padding: 0 0.8rem;
}

.copyright {
  padding-top: 1rem;
}
.copyright p{
  color: grey;
}

/*Single Post*/
.post-title h2 {
  color: orange;
  padding-top: 0;
  font-size: 3rem;
}
.post.container {
  width: 50%;
  display: flex;
}
.post-info {
  min-width: 20%;
  margin-left: 1rem;
}
.info-box {
  border-left: 1px solid grey;
  padding-left: 1rem;
}
.post-picture {
  width: 130%;
  margin: 1.5rem 0;
}
.caption {
  display: block;
  float: right;
  margin: 0 -9rem 0 0;
  text-align: right;
  color: grey;
  width: 25%;
  font-size: 0.9rem;
}

.post-nav {
  display: flex;
  margin: 2rem auto 0 auto;
  justify-content: space-between;
  border-top: 1px solid grey;
  width: 100%;
  padding: 2rem 0;
}
.nav-previous{
  padding-left: 10%;
}
.nav-next {
  padding-right: 10%;
  text-align: right;
}
.meta-nav {
  display: block;
  color: grey;
  text-transform: uppercase;
}
.meta-item {
  color: orange;
}

.comment {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
}
.comment-box {
  width: 500px;
  min-height: 100px;
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 10px;
  color: grey;
}
