/*Global Styling*/
html {
  font-size: 18px;
}
body {
  font-family: Helvetica, sans-serif;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}
.container {
  max-width: 960px;
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  align-items: center;
}
/*Header*/
.topbar {
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
}
.topbar .logo {
  height: 1.5rem;
  padding-right: 1rem;
  padding-left: 0.5rem
}
.topbar span {
  color: #fff;
  padding: 0.66rem 0;
  font-size: 1rem;
}
.banner {
  background-image: url(../img/moto.jpeg);
  background-size: cover;
  height: 25rem;
  display: flex;
}
.banner-content {
  margin-top: 9rem;
}
.banner-content-text {
  width: 20rem;
  padding: 2rem 3rem;
  background-color: #000;
  color: #fff;
}
.banner-content-text span {
  font-size: 1rem;
  font-weight: bold;
}
.banner-content-text h2 {
  padding-top: 0.25rem;
}
nav {
  background-color: firebrick;
  color: #fff;
}
nav .container {
  display: flex;
  justify-content: space-between;
}
nav span {
  padding: 0.75rem 0;
}
.mobilemenu {
  display: none;
}

/*Main Content*/
/*Product Container*/
.products {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
}
.single-product {
  width: 30%;
  border: 4px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 9rem;
  padding: 2rem 0;
}
 .single-product img {
   width: 150px;
   height: auto;
 }
.product-title {
   background-color: black;
   color: white;
   width: 100%;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   text-align: center;
 }

 /*Info Part*/
 .info-part {
   width: 50%;
 }
 .info-part .btn {
   background-color: black;
   padding: 1rem 2rem;;
   width: 50%;
   color: white;
 }
.info-part p {
  padding-top: 1.5rem;
}

/*Footer*/
footer {
  background-color: black;
  margin-top: 4rem;
  height: 5rem;
  display: flex;
  align-items: center;
}
footer p {
  color: white;
}

@media screen and (max-width: 1024px) {
  .container {
    margin: 0;
  }
  .mobilemenu {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.75rem 0;
  }
  a.mobilemenu {
    color: white;
    text-decoration: none;
  }
  nav ul.container, nav:active ul {
		display: none;
  }

  .single-product {
    width: 47%;
  }
}
